/* Dans votre fichier game.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: grey;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond du conteneur de jeu */
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 10em;
    background-color: #ccc;
    border: 2px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    width: 100%; /* Chaque ligne occupe la largeur complète du plateau */
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.map-image {
    width: 100%;
    display: block;
}
.map-interactive-area {
    position: absolute;
    border: 2px solid transparent; /* Initialement transparent, peut être coloré pour débogage */
    cursor: pointer;
}
/* Styles pour les différentes zones des gangs */
#gang1 { top: 0%; left: 0%; width: 20%; height: 17%; }  /* CREW */
#gang2 { top: 18%; left: 0%; width: 20%; height: 15%; } /* CARTEL */
#gang3 { top: 34%; left: 0%; width: 20%; height: 15%; } /* BIKERS */
#gang4 { top: 50%; left: 0%; width: 20%; height: 16%; } /* BRATVA */
#gang5 { top: 67%; left: 0%; width: 20%; height: 15%; } /* TRIAD */
#gang6 { top: 83%; left: 0%; width: 20%; height: 16%; } /* QUEERS */

/* Styles pour les différentes zones des pièces */
#piece1 { top: 3%; left: 23%; width: 33%; height: 24%; } /* Douches */
#piece2 { top: 3%; left: 58%; width: 39%; height: 23%; } /* Cellules */
#piece3 { top: 29%; left: 23%; width: 24%; height: 23%; } /* Infirmerie */
#piece4 { top: 29%; left: 49%; width: 47%; height: 23%; } /* Réfectoire */
#piece5 { top: 53%; left: 22%; width: 16%; height: 24%; } /* Isolement */
#piece6 { top: 53%; left: 40%; width: 57%; height: 21%; } /* Promenade */

#piece7 { top: 4%; left: 25%; width: 23%; height: 22%; } /* CelluleATeam */
#piece8 { top: 4%; left: 50%; width: 20%; height: 22%; } /* DoucheTeam */
#piece9 { top: 4%; left: 72%; width: 23%; height: 22%; } /* CelluleBTeam */

/* Styles pour les différentes zones des pièces */
#carte1 { top: 77.7%; left: 28.3%; width: 12.6%; height: 19.5%; } /* Fouilles */
#carte2 { top: 74%; left: 48.7%; width: 13%; height: 20%; } /* Armes */
#carte3 { top: 74%; left: 64.3%; width: 13%; height: 20%; } /* Pioches */
#carte4 { top: 74%; left: 80%; width: 13%; height: 20%; } /* Pelles */
/* #carte5 { top: 81%; left: 25%; width: 19%; height: 13%; } Defausse */
#carte6 { top: 30.1%; left: 65.7%; width: 13%; height: 20%; } /* Cuillere */

/* Styles pour les decks */
#deck { top: 102%; left: 5%; width: 13%; height: 20%; } /* Deck */
#dice { top: 107%; left: 50%; width: 10%; height: 20%; } /* Deck */

/* Style global pour le modal */
.modal {
    display: none; /* Cache le modal par défaut */
    position: fixed; /* Position fixe pour rester au-dessus du contenu */
    z-index: 1; /* Place le modal au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajoute un défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

/* Contenu du modal de style carte */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Fond blanc */
    margin: 15% auto; /* Centré verticalement et horizontalement */
    padding: 5vh;
    height: 35vh; /* Largeur fixe */
    width: 25vh; /* Largeur fixe */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre douce */
    border-radius: 10px; /* Bordures arrondies */
    background: url(../img/crew.png);
    background-size: cover;
    background-position-x: center;
    border-color: #b0b0b0;
    border-style: ridge;
    border-width: 1vh;
    min-height: 38vh;
}

/* Style pour le titre du modal */
.gang-carte_gang_name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: white; /* Couleur du texte */
    font-weight: bolder;
    display: none;

}

/* Style pour le nom de la carte */
.gang-carte_name {
    font-size: 1.2em;
    margin-top: 10vh;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    background: #000000b3;
    padding: 0.3em;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Style pour la description */
.gang-carte_description {
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 1.4;
    background: #000000b3;;
    padding: 0.3em;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Style pour le bouton de fermeture */
.close {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}

/* Style pour le bouton de fermeture */
.steal {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.steal:hover,
.steal:focus {
    color: #333;
    text-decoration: none;
}

/* Style pour le bouton de fermeture */
.make {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.make:hover,
.make:focus {
    color: #333;
    text-decoration: none;
}

/* Style pour le bouton de fermeture */
.join {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.join:hover,
.join:focus {
    color: #333;
    text-decoration: none;
}

.close_dice {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.close_dice:hover,
.close_dice:focus {
    color: #333;
    text-decoration: none;
}

.launch_dice {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.launch_dice:hover,
.launch_dice:focus {
    color: #333;
    text-decoration: none;
}
.button_card {
    margin-top: 1vh;
}

/* Deck Counter Style */
.deck-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.deck-counter:hover {
    background-color: #e2e6ea;
}

/* Modal Style */
.modal-deck {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #959595;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 80%;
    max-width: 600px;
}

.modal-deck-content {
    padding: 1em;
    color: #000000;
    font-family: fantasy;
    font-weight: bolder;
}

.modal-deck-footer {
    padding: 10px 20px;
    text-align: right;
}

.modal-deck-close {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 2vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.modal-deck-close:hover {
    color: #333;
    text-decoration: none;
}

#deck-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: calc(33.333% - 10px);
    box-sizing: border-box;
}

.modal-content-deck {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    height: 19vh;
    width: 13vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: url(../img/crew.png);
    background-size: cover;
    background-position-x: center;
    border-color: #b0b0b0;
    border-style: ridge;
    border-width: 1vh;
}
/* Style pour le nom de la carte */
.deck-carte_name {
    font-size: 0.5em;
    margin-top: -5vh;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    background: #00000052;
    padding: 0.3em;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Style pour la description */
.deck-carte_description {
    font-size: 0.5em;
    width: 9em;
    color: white;
    max-height: 2.6em;
    padding-bottom: 2em;
    text-align: center;
    line-height: 1.4;
    background: #00000052;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Contenu du modal de style carte */
.modal-dice-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Fond blanc */
    margin: 15% auto; /* Centré verticalement et horizontalement */
    padding: 5vh;
    height: 35vh; /* Largeur fixe */
    width: 25vh; /* Largeur fixe */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre douce */
    border-radius: 10px; /* Bordures arrondies */
    background: url(../img/crew.png);
    background-size: contain;
    background-position-x: center;
    border-color: #b0b0b0;
    border-style: ridge;
    border-width: 1vh;
    min-height: 38vh;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out; /* transition pour l'animation */
}

.button_dice_card {
    margin-top: 37vh;
}

#turnMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
}

.pawn {
    width: 20px; /* Example dimensions */
    height: 20px; /* Example dimensions */
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* Make it round */
    z-index: 999;
}

.teamA {
    background:blue;
    border: 0.5em;
    border-color: black;
    border-style: double;
}

.teamB {
    background:red;
    border: 0.5em;
    border-color: black;
    border-style: double;
}
.pawn-1 {
    top: 30%; /* Center the pawn */
    left: 25%; /* Center the pawn */
}
.pawn-2 {
    top: 30%; /* Center the pawn */
    left: 50%; /* Center the pawn */
}
.pawn-3 {
    top: 30%; /* Center the pawn */
    left: 75%; /* Center the pawn */
}
.pawn-4 {
    top: 70%; /* Center the pawn */
    left: 25%; /* Center the pawn */
}
.pawn-5 {
    top: 70%; /* Center the pawn */
    left: 50%; /* Center the pawn */
}
.pawn-6 {
    top: 70%; /* Center the pawn */
    left: 75%; /* Center the pawn */
}

.heal-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
}

.heal-button:hover {
    background-color: #218838;
}