/* Dans votre fichier game.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: grey;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond du conteneur de jeu */
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 10em;
    background-color: #ccc;
    border: 2px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    width: 100%; /* Chaque ligne occupe la largeur complète du plateau */
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.map-image {
    width: 100%;
    display: block;
}
.map-interactive-area {
    position: absolute;
    border: 2px solid transparent; /* Initialement transparent, peut être coloré pour débogage */
    cursor: pointer;
}
/* Styles pour les différentes zones des gangs */
#gang1 { top: 0%; left: 0%; width: 20%; height: 17%; }  /* CREW */
#gang2 { top: 18%; left: 0%; width: 20%; height: 15%; } /* CARTEL */
#gang3 { top: 34%; left: 0%; width: 20%; height: 15%; } /* BIKERS */
#gang4 { top: 50%; left: 0%; width: 20%; height: 16%; } /* BRATVA */
#gang5 { top: 67%; left: 0%; width: 20%; height: 15%; } /* TRIAD */
#gang6 { top: 83%; left: 0%; width: 20%; height: 16%; } /* QUEERS */

/* Styles pour les différentes zones des pièces */
#piece1 { top: 3%; left: 23%; width: 33%; height: 24%; } /* Douches */
#piece2 { top: 3%; left: 58%; width: 39%; height: 23%; } /* Cellules */
#piece3 { top: 29%; left: 23%; width: 24%; height: 23%; } /* Infirmerie */
#piece4 { top: 29%; left: 49%; width: 47%; height: 23%; } /* Réfectoire */
#piece5 { top: 53%; left: 22%; width: 16%; height: 24%; } /* Isolement */
#piece6 { top: 53%; left: 40%; width: 57%; height: 21%; } /* Promenade */

#piece7 { top: 4%; left: 25%; width: 23%; height: 22%; } /* CelluleATeam */
#piece8 { top: 4%; left: 50%; width: 20%; height: 22%; } /* DoucheTeam */
#piece9 { top: 4%; left: 72%; width: 23%; height: 22%; } /* CelluleBTeam */

/* Styles pour les différentes zones des pièces */
#carte1 { top: 77.7%; left: 28.3%; width: 12.6%; height: 19.5%; } /* Fouilles */
#carte2 { top: 74%; left: 48.7%; width: 13%; height: 20%; } /* Armes */
#carte3 { top: 74%; left: 64.3%; width: 13%; height: 20%; } /* Pioches */
#carte4 { top: 74%; left: 80%; width: 13%; height: 20%; } /* Pelles */
/* #carte5 { top: 81%; left: 25%; width: 19%; height: 13%; } Defausse */
#carte6 { top: 30.1%; left: 65.7%; width: 13%; height: 20%; } /* Cuillere */

/* Styles pour les decks */
#deck { top: 102%; left: 5%; width: 13%; height: 20%; } /* Deck */

/* Style global pour le modal */
.modal {
    display: none; /* Cache le modal par défaut */
    position: fixed; /* Position fixe pour rester au-dessus du contenu */
    z-index: 1; /* Place le modal au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajoute un défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

/* Contenu du modal de style carte */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Fond blanc */
    margin: 15% auto; /* Centré verticalement et horizontalement */
    padding: 5vh;
    height: 35vh; /* Largeur fixe */
    width: 25vh; /* Largeur fixe */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre douce */
    border-radius: 10px; /* Bordures arrondies */
    background: url(../img/crew.png);
    background-size: cover;
    background-position-x: center;
    border-color: #b0b0b0;
    border-style: ridge;
    border-width: 1vh;
    min-height: 38vh;
}

/* Style pour le titre du modal */
.gang-carte_gang_name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: white; /* Couleur du texte */
    font-weight: bolder;
    display: none;

}

/* Style pour le nom de la carte */
.gang-carte_name {
    font-size: 1.2em;
    margin-top: 10vh;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    background: #000000b3;
    padding: 0.3em;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Style pour la description */
.gang-carte_description {
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 1.4;
    background: #000000b3;;
    padding: 0.3em;
    border-color: white;
    border-style: double;
    font-family: fantasy;
}

/* Style pour le bouton de fermeture */
.close {
    color: #fff;
    margin-top: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    background: #850000;
    cursor: pointer;
    border-color: black;
    border-style: double;
    font-family: fantasy;
    padding: 0.5vh;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}
.button_card {
    margin-top: 1vh;
}